<ion-header>

    <ion-navbar>
        <div class="header-wrapper">  
            <ion-title>{{'profile.change_password' | translate}}</ion-title>  
        </div>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <form [formGroup]="formChange" ng-submit="save()">
        <ion-list class="form-custom form-password">
            <ion-item>
                <ion-label class="current-pass">{{'profile.current_password' | translate}}</ion-label>
                <ion-input type="password" (focus)="password_wrong=false" formControlName="current_password"></ion-input>
            </ion-item>
            <div *ngIf="formChange.controls.current_password.hasError('required') && submitAttempt" class="err-danger">
                {{ 'errorMessage.passRequired'|translate }}
            </div>
            <div *ngIf="password_wrong  && submitAttempt" class="err-danger">
                {{ 'profile.password_wrong'|translate }}
            </div>
            <div class="password-control">
                <ion-item class="input-password">
                    <ion-label>{{'profile.new_password' | translate}}</ion-label>
                    <ion-input type="{{type}}" (ngModelChange)="changeNewPassword()" formControlName="password"></ion-input>
                </ion-item>
                <div class="control-icon" (click)="show_hide_Pass();password_wrong=false">
                    <span class="icomoon-eyes-hidden" *ngIf="check"></span>
                    <span class="icomoon-eyes-open" *ngIf="!check"></span>
                </div>
            </div>
            <div *ngIf="formChange.controls.password.hasError('required') && submitAttempt" class="err-danger">
                {{ 'errorMessage.passNewRequired'|translate }}
            </div>
            <div *ngIf="formChange.controls.password.hasError('minlength') && submitAttempt" class="err-danger">
                {{ 'errorMessage.passLength'|translate }}
            </div>
            <ion-item>
                <ion-label>{{'profile.re-pass' | translate}}</ion-label>
                <ion-input type="{{type}}" formControlName="re_password"></ion-input>
            </ion-item>
            <div *ngIf="(formChange.controls.re_password.hasError('invalidEqual')
            || formChange.controls.re_password.hasError('required')) && submitAttempt" class="err-danger">
                {{ 'profile.re_pass_error'|translate }}
            </div>

        </ion-list>
        <button ion-button type="submit" class="form-custom-submit" (click)="save()">{{'profile.done' | translate}}</button>
    </form>
</ion-content>
<ion-footer>
    <footer></footer>
</ion-footer>